{% extends "base_generic.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h2>{{ article.title }}</h2>
  </div>
  <div class="card-body">
    <p>{{ article.text }}</p>
  </div>
  <div class="card-footer text-left">
    <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
			Add comment
		</a>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
			<form action="{% url 'articles:comment' article.id %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="author">Author</label>
					<input type="text" class="form-control" id="author" name="author" placeholder="Author">
				</div>
				<div class="form-group">
					<label for="comment_text">Comment...</label>
					<input type="text" class="form-control" id="comment_text" name="comment_text" placeholder="Comment...">
				</div>
				<div  class="text-right">
					<input class="btn btn-success" type="submit" value="Save">
				</div>
			</form>
			</div>
		</div>
  </div>
</div>








<ul>
{% for comment in article.get_last_comments %}
    <li>
		<span>{{ comment.author }}</span>
		<p>
		{{ comment.text }}
		</p>
		</li>
		<hr>
{% endfor %}
</ul>
{% endblock content %}