{% extends "base_generic.html" %}

{% block content %}
	{% if latest_article_list %}
			{% for article in latest_article_list %}
					<div class="card mb-2 shadow-sm">
						<div class="card-body">
							<h4 class="card-title">{{ article.title }}</h4>
							<p class="card-text mt-2">{{ article.text|slice:":300" }}...</p>
							<a href="{% url 'articles:detail' article.id %}" class="btn btn-info stretched-link">Detail</a>
							<div class="pt-2">
								<small class="text-muted">Comments: {{article.get_comments_count}}</small>
								<small class="text-muted">Public date: {{article.pub_date}}</small>
							</div>
					</div>
				</div>
			{% endfor %}
	{% else %}
			<p>No polls are available.</p>
	{% endif %}


	{% block pagination %}
		{% if is_paginated %}
			<div class="p-2">		
				{% if page_obj.has_previous %}
					<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary">back</a>
				{% else %}
					<a href="" class="btn btn-light disabled">back</a>
				{% endif %}
				{% if page_obj.has_next %}
					<a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary">next</a>
				{% else %}
					<a href="" class="btn btn-light disabled">next</a>
				{% endif %}
			</div>
		{% endif %}
	{% endblock pagination %} 
{% endblock %}